
<div class="bottom_shadow"></div>

<div id="footer">
    <div id="footer_shadow"></div>

    <ul class="sidebar_widget">
      <li class="widget">
        <h2 class="widgettitle">Metodikk</h2>
        <ul class="posts blog black_wrapper">
          <li>
            <h6 class="cufon"><a href="#">Smidige metoder</a></h6>
            Smidig utviklingsmetodikk står sentralt. Smidigkonferansene og xp meetup er gode arenaer for å lære mer. Vi holder også foredrag i lean og smidig.  <br/><br/>
          </li>
          <li>
            <h6 class="cufon"><a href="#">Lean Software Development</a></h6>
            Lean og smidig overlapper mye, men de har noe forskjellig fokus. Lean tar mer et ovenfra-ned perspektiv og drar med organisasjonen. Det handler rett og slett om å gjøre veien fra idé til produkt kortest mulig. Google på Mary Poppendieck.
          </li>

        </ul>
      </li>
  <li class="widget">
        <h2 class="widgettitle">Teknologi</h2>
        <ul class="posts blog black_wrapper">
      <li>
        <h6 class="cufon"><a href="#">Ruby</a></h6>
         Vi bruker ruby til backend, med Rails eller Sinatra som rammeverk. Som database bruker vi gjerne NoSql, som f.eks. MongoDB, ofte i kombinasjon med postegresql eller MySql, eller en av dem alene. Vi velger det vi mener er best til jobben. Vi lager json-apier så det kan brukes av iphone, android apps eller andre systemer. Det samme brukes av frontend, med lettvekts javascript og html/css. Følg ruby i Norge på <a href="http://irb.no">irb.no</a>
            </li>
        </ul>
      </li>

      <li class="widget">
        <h2 class="widgettitle">Oppdateringer</h2>
        <ul class="posts blog black_wrapper">
          <li><h6 class="cufon"><a href="#">Twitter</a></h6></li>
        <li><a href="http://twitter.com/rubynor">@rubynor</a></li>
          <li><a href="http://twitter.com/ole_morten">@ole_morten</a></li>
          <li><h6 class="cufon"><a href="#">Blogg</a></h6></li>
          <li><a href="http://olemortenamundsen.wordpress.com">oma blog</a> (CTO)</li>
        </ul>
      </li>
   <li class="widget">
        <h2 class="widgettitle">Meta</h2>
        <ul>
          <li><a href="#">Site Admin</a></li>
          <li><a href="#">Logg inn</a></li>
          <li><a href="/kontakt">Kontakt oss</a></li>
        </ul>
      </li>
    </ul>

    <br class="clear"/>
  </div>

</div>
