<div id="top_bar">
   <div class="logo">
    <a id="custom_logo" href="/"><img src="images/logo.png" alt=""/></a>
  </div>

  <!-- Begin main nav -->
  <div id="menu_wrapper">

      <div class="menu-main-menu-container">
        <ul id="main_menu" class="nav">
  <%= menu_selection == 'home' ?  '<li class="current-menu-item">': '<li>' %>
          <a href="/">Hjem</a>
        </li>
        <%= menu_selection == 'portfolio' ?  '<li class="current-menu-item">': '<li>' %>
        <a href="/projects">Prosjekter</a></li>
        <!-- ><a href="#">Portefølje</a>
          <ul class="sub-menu">
            <li><a href="/portfolios_powest">Prosjekter</a></li>
            <li><a href="/portfolios_imagenet">Imagenet</a></li>
            <li><a href="/portfolios_aktivitetskart">Activity-map</a></li>
            <li><a href="/portfolios_cv">CVmalen</a></li>
          </ul>
        </li>
          -->
<%= menu_selection == 'contact' ?  '<li class="current-menu-item">': '<li>' %>
        <a href="/kontakt">Kontakt</a></li>

    <!--
    <%= menu_selection == 'emisjon' ?  '<li class="current-menu-item">': '<li>' %>
            <a href="/emisjon">Investor</a></li>
      -->
      </ul>
    </div>
  </div>
  <!-- End main nav -->

</div>

<br class="clear"/>
