<div id="top_bar">
   <div class="logo">
    <a id="custom_logo" href="/"><img src="images/logo.png" alt=""/></a>
  </div>

  <!-- Begin main nav -->
  <div id="menu_wrapper">

      <div class="menu-main-menu-container">
        <ul id="main_menu" class="nav">
          <li><a href="/">Hjem</a>
        </li>
        <li class="current-menu-item"><a href="#">Portefølje</a>
          <ul class="sub-menu">
            <li><a href="/portfolios_powest">Powest</a></li>
            <li><a href="/portfolios_imagenet">Imagenet</a></li>
            <li><a href="/portfolios_aktivitetskart">Activity-map</a></li>
            <li><a href="/portfolios_cv">CVmalen</a></li>
          </ul>
        </li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>
  </div>
  <!-- End main nav -->

</div>

<br class="clear"/>
