<%= erb :_header %>

<body class="page">

  <!-- Begin template wrapper -->
  <div id="wrapper">

    <!-- Begin header -->
    <div id="header_wrapper">
      <%= erb :_top_bar, :locals => {menu_selection: 'emisjon'} %>

      <div class="page_caption">
        <div class="caption_inner">
          <div class="caption_header">
            <h1 class="cufon">Emisjon - frist 18.mai 2012</h1>
          </div>
        </div>
      </div>

      <div id="header_pattern"></div>
    </div>
    <!-- End header -->

    <!-- Begin content -->
    <div id="content_wrapper">
      <div class="inner">
        <!-- Begin main content -->
        <div class="inner_wrapper">
           <div class="sidebar_content ">
             <div id="emisjon">
                <h1>Invitasjon til deltagelse i emisjon for Rubynor</h1>

<p>Bli en del av en spennende oppstart! Rubynor AS s&oslash;ker b&aring;de sm&aring; og st&oslash;rre investorer.</p>
<p>Mer utfyllende informasjon i utskrivbar form her: <a href="/emisjon_print">Emisjon 18.mai i Rubynor AS </a></p>

<h2>Oppsummering</h2>
<ul>
  <li>  emisjon 400.000NOK </li>
    <ul>
    <li>    <b>  10.000 B-aksjer á 40 NOK. </b></li>
  <li>      aksjer i hele 50 og minimum 100 aksjer, med andre ord minimum 4000 NOK </li>
  <li>      Ved fulltegning vil det etter emisjon være 110.000 aksjer totalt.</li>
<li>Minimum 4000 av aksjene er forhåndstegnet av eksisterende aksjonærer.</li>
 </ul>
  <li>  Kontakt Vegard Dalen for deltakelse.</li>
      <ul>
     <li>   <b>vegard.dalen@gmail.com</b></li>
     <li>   45204240</li>

 </ul>
  <li>  Oppgi “Ønsker X aksjer á 40 NOK, sum X*40 NOK”</li>
  <li>  FRIST <b>18.mai kl 17</b></li>
       <ul>
     <li> Du får deretter instruksjoner om betaling fra Vegard. Betalingsfrist
   25.mai. Deretter mottar du aksjebevis. </li>
   </ul>
  <li>  Du er ikke garantert å få så mange aksjer du ønsker, styret forbeholder seg retten til å utstede den rettede emisjonen slik vi finner det hensiktsmessig. Enkelt fortalt ønsker vi flest mulig personer med på moroa.</li>
   <li> Når den rettede emisjonen iverksettes, vil du få betalingsinstruksjoner og aksjebevis.</li>
   <li> Aksjene er B-aksjer, ingen stemmerett, men samme rett til utbytte og gevinst ved salg. Ole Morten Heggebakken Amundsen kontrollerer alle de stemmeberettigede aksjene.</li>
<li>Risiko. Med høy oppside følger også høy risiko. Det er din vurdering å ta. Investerer du ikke nå håper vi du allikevel heier på oss og ønsker oss suksess.</li>

</ul>
<p>Dette var oppsummeringen. Vi har skrevet et større dokument som forteller mer om Rubynor AS og prosjektene. Det kan du lese her: <a href="/emisjon_print">Emisjon 18.mai i Rubynor AS </a></p>

<h3>Regnskap</h3>
<p>
  Under er årsbalanse, -resultat og saldobalanse 2011. Regnskapet er nå revidert. Det er resultatene etter kun 3 første måneder, Rubynor AS ble opprettet 23.september 2011.
</p>
<ul>
  <li><a href="/docs/Rubynor AS 2011 regnskap med noter.pdf">Rubynor AS 2011 Årsregnskap med noter.pdf</li>
  <li><a href="/docs/Rubynor AS 2011 kontospesifisert regnskap.pdf">Rubynor AS 2011 kontospesifisert årsregnskap.pdf</li>
  <li><a href="/docs/Rubynor AS 2011 Balanse.pdf">Rubynor AS 2011 Balanse</li>
  <li><a href="/docs/Rubynor AS 2011 Saldobalanse.pdf">Rubynor AS 2011 Saldobalanse</li>
</ul>
    <br/><br/>
             </div>
           </div>
          <br class="clear"/>

         </div>  <!-- End main content-->

       </div>
     </div>   <!-- End content -->

     <%= erb :_footer %>
   </div>

</body>
</html>