<%= erb :_header %>


<body class="page">

  <!-- Begin template wrapper -->
  <div id="wrapper">

    <!-- Begin header -->
    <div id="header_wrapper">
        <%= erb :_top_bar, :locals => {menu_selection: 'contact'}%>

      <div class="page_caption">
        <div class="caption_inner">
          <div class="caption_header">
            <h1 class="cufon">Kom i kontakt med oss</h1>
          </div>
        </div>
      </div>

      <div id="header_pattern"></div>
    </div>
    <!-- End header -->

    <!-- Begin content -->
    <div id="content_wrapper">
      <div class="inner">
        <!-- Begin main content -->
        <div class="inner_wrapper">
          <div class="sidebar_content ">
              <h1>Send epost</h1>
              <p>Send en epost til <b>oma@rubynor.com</b>, Ole Morten Heggebakken Amundsen, for informasjon og uforpliktende samtale.</p>
              <p>Vi har for tiden mye å gjøre, det er en god ting. Allikevel er vi åpne for muligheter og kan sette opp nye team. Vår vurdering går mye ut på om vi har tro på forretningsidéen og at vi mener vi er de beste til å gjennomføre. Ta kontakt for konstruktiv og kreativ samtale. Vi heier på alle som forsøker å skape noe, selv om vi selv ikke skulle delta. </p>

            <br/><br/>
          </div>
        <br class="clear"/>
        </div>
      </div>
    </div>
   <%= erb :_footer %>
   </div>

</body>
</html>