<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8" />
<title>Rubynor - Skapere av fantastiske, skalerbare og fremtidsrettede webapplikasjoner</title>

<!-- Template stylesheet -->
<link rel='stylesheet' id='jqueryui_css-css'  href='css/jqueryui/custom.css' type='text/css' media='all' />
<link rel='stylesheet' id='screen_css-css'  href='css/screen.css' type='text/css' media='all' />
<link rel='stylesheet' id='fancybox_css-css'  href='js/fancybox/jquery.fancybox-1.3.0.css' type='text/css' media='all' />
<link rel='stylesheet' id='videojs_css-css'  href='js/video-js.css' type='text/css' media='all' />
<link rel='stylesheet' id='vim_css-css'  href='js/skins/vim.css' type='text/css' media='all' />
<link rel='stylesheet' id='colorpicker_css-css'  href='js/colorpicker/css/colorpicker.css' type='text/css' media='all' />
<link rel='stylesheet' id='screenrubynor_css-css'  href='css/screenrubynor.css' type='text/css' media='all' />

<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/jquery-ui.js'></script>
<script type='text/javascript' src='js/fancybox/jquery.fancybox-1.3.0.js'></script>
<script type='text/javascript' src='js/jquery.easing.js'></script>
<script type='text/javascript' src='js/jquery.nivo.slider.js'></script>
<script type='text/javascript' src='js/anythingSlider.js'></script>
<script type='text/javascript' src='js/hint.js'></script>
<script type='text/javascript' src='js/jquery.validate.js'></script>
<script type='text/javascript' src='js/cufon.js'></script>
<script type='text/javascript' src='js/browser.js'></script>
<script type='text/javascript' src='js/video.js'></script>
<script type='text/javascript' src='js/jquery.tipsy.js'></script>
<script type='text/javascript' src='js/colorpicker/js/colorpicker.js'></script>
<script type='text/javascript' src='js/colorpicker/js/eye.js'></script>
<script type='text/javascript' src='js/colorpicker/js/utils.js'></script>
<script type='text/javascript' src='js/custom.js'></script>

<!--[if lt IE 8]>
<link rel="stylesheet" href="css/ie7.css" type="text/css" media="all"/>
<![endif]-->

<!--[if lte IE 8]>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="all"/>
<![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27828405-1']);
  _gaq.push(['_setDomainName', 'rubynor.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>


<body class="page">

  <!-- Begin template wrapper -->
  <div id="wrapper">

    <!-- Begin header -->
    <div id="header_wrapper">
      <%= erb :_top_bar, :locals => {menu_selection: 'portfolio'}%>
      <%= erb :_portfolio_title, :locals => {:title => "Kart og Aktiviteter"} %>
    </div>
    <!-- End header -->

      <!-- Begin content -->
      <div id="content_wrapper">

        <div id="portfolios">
        <div class="inner">

          <!-- Begin main content -->
          <div class="inner_wrapper">


      <h1>Kartsøk på aktiviteter</h1>
           <p>Dette konsulentprosjektet innebar å lage en løsning for å administrere aktiviteter for bedriften og dens kunder. Den offentlige kartsiden skulle inneholde søkemuligheter på kategori, aldersgrupper og dato. Multiple treff i nærheten av hverandre vises som et tall, summen av aktiviteter i nærheten, for å unngå at aktivitetsmerkelappen klumpet seg sammen. Vi kan ikke utgi mer informasjon på nåværende tidspunkt. Vi benyttet Ruby, Solr/lucene, MongoDB, google maps og backbone.js </p>







          </div>
        </div>
      </div>
    </div>

  <%= erb :_footer%>
</div>

</body>
</html>